/******************************************/
/*		DFocus
/*			by DFocus AuTiMoThY
/******************************************/
/*
* TOC
*
* _Initial
* _Layout
* btn
* form input textarea
* loading
* Header
* Footer
* nav
* banner
* mod
* AsideMod
* page
* font
* icon
* skrollr
*/
html {
  font-size: 100%;
  line-height: 1.5em;
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
		>	_Initial
\*------------------------------------------------------------------------*/
.hide_txt {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.wrapper {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.well {
  width: 1140px;
  margin: auto;
  position: relative;
}

html, body {
  min-height: 100%;
  min-width: 1140px;
}

body {
  font-family: "PMingLiU", \65B0\7EC6\660E\4F53, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.pic {
  width: 100%;
  overflow: hidden;
}
.pic img {
  height: auto;
  display: block;
  margin: 0 auto;
}

.temporary {
  display: block;
  margin: 0 auto;
}

.ib {
  display: inline-block;
  vertical-align: middle !important;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.col-2 {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.col-3 {
  display: inline-block;
  vertical-align: top;
  width: 32%;
}

.col-4 {
  display: inline-block;
  vertical-align: top;
  width: 24.9%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
  letter-spacing: 2px;
}

p {
  line-height: 1.6;
  /*margin-bottom:1.25em;*/
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide, .hidden {
  display: none;
}

ul, ol, dl {
  list-style-position: outside;
}

dl dt {
  margin-bottom: 0.3em;
  font-weight: bold;
}

dl dd {
  margin-bottom: 0.75em;
}

/*========================================================================*\
		test
\*========================================================================*/
.tdlt {
  text-decoration: line-through;
}

.swing {
  -webkit-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
}

.tri {
  display: inline-block;
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_Layout
\*========================================================================*/
/*========================================================================*\
		>>	layout main
\*========================================================================*/
article#main, main {
  margin-top: 19px;
  margin-top: 1.2rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 19px;
  margin-bottom: 1.2rem;
}

.wall-bar {
  width: 100%;
  height: 490px;
  background: url('../images/index_bg2.jpg?1428896931') 50% 50% no-repeat;
  text-align: center;
}
.wall-bar .slogan {
  padding-top: 2.5em;
}
.wall-bar h2 {
  color: #313131;
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-family: "PMingLiU", \65B0\7EC6\660E\4F53, Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 1px;
}
.wall-bar .footLogo {
  width: 46px;
  height: 46px;
  margin: 0 auto 0.8em;
}
.wall-bar #SACCA-Logo * {
  fill: #fff;
}
.wall-bar p {
  color: #313131;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 29px;
  line-height: 1.8rem;
  letter-spacing: 1px;
}

.index_page .fixBg {
  width: 100%;
  height: 0;
  padding-bottom: 67.13542%;
  background: url('../images/bigBg.jpg?1428896799') 50% 50% no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	btn
\*========================================================================*/
button {
  /*background-color:#2ba6cb;*/
  /*border: 1px solid #2284a1;*/
  /*margin:0 0 1.25em;*/
  /*padding: 0.75em 1.5em 0.8125em 1.5em;*/
  position: relative;
  /*display:inline-block;*/
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  outline: none;
}
button.btn {
  border: none;
  background: none;
}

.btn {
  background-color: #727171;
  position: relative;
  border: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.84);
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0 !important;
  display: inline-block;
  /*========================================================================*\
  		project 
  \*========================================================================*/
}
.btn a, .btn input, .btn button {
  padding: 6px 13px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn input {
  border: none;
  background: none;
}
.btn:hover {
  background-color: #007BBF;
  -moz-box-shadow: 1px 1px 3px #999;
  -webkit-box-shadow: 1px 1px 3px #999;
  box-shadow: 1px 1px 3px #999;
}
.btn:hover a, .btn:hover input {
  color: #fff;
}
.btn:active {
  -moz-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  -webkit-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	Header
\*========================================================================*/
#top {
  width: 100%;
  height: 5px;
  background-color: #e60012;
}

/*========================================================================*\
		>>	global_hd  quick_bar  logo
\*========================================================================*/
header.global_hd {
  position: relative;
  width: 100%;
  height: 85px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QyZDJkMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #d2d2d2));
  background-image: -moz-linear-gradient(#fafafa, #d2d2d2);
  background-image: -webkit-linear-gradient(#fafafa, #d2d2d2);
  background-image: linear-gradient(#fafafa, #d2d2d2);
}
header.global_hd nav {
  margin-left: 27%;
  margin-right: 1%;
}
header#logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 263px;
  height: 60px;
  background: url('../images/main_logo.png?1428909377') 0 0 no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
header#logo a {
  display: block;
  width: 100%;
  height: 100%;
}

/*========================================================================*\
		>>	nav
\*========================================================================*/
nav.global_menu {
  height: 100%;
}
nav.global_menu ul, nav.global_menu li, nav.global_menu a {
  height: 100%;
}
nav.global_menu li {
  position: relative;
  margin: 0 1em;
}
nav.global_menu li:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -5px;
  left: -100%;
  width: 100%;
  height: 5px;
  background-color: #e60012;
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
nav.global_menu li:hover {
  box-shadow: inset 5px 0 10px 0px rgba(206, 206, 207, 0.6), inset -5px 0 10px 0px rgba(206, 206, 207, 0.6);
}
nav.global_menu li:hover:before {
  content: '';
  left: 0;
  z-index: 2;
  background-color: #9c000e;
}
nav.global_menu li:hover a {
  color: #999;
}
nav.global_menu a {
  display: block;
  padding: 0 1.5em;
  color: #595757;
  line-height: 85px;
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	banner
\*========================================================================*/
.banner {
  position: relative;
  height: 0;
  padding-bottom: 32.29167%;
}

.banner, .flexslider, .slides, .slides li {
  width: 100%;
}

#slider {
  overflow: hidden;
}

.flex-control-thumbs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1140px;
  height: 80px;
  margin: auto;
  background-color: transparent;
}
.flex-control-thumbs li {
  position: relative;
  height: 70px;
  margin: 0 5px;
}
.flex-control-thumbs li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.flex-control-thumbs li.flex-active {
  position: relative;
  top: -5px;
}
.flex-control-thumbs li.flex-active:before {
  background-color: transparent;
  border: 3px solid #e60012;
}

#carousel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1140px;
  height: 80px;
  margin: auto;
  background-color: transparent;
}
#carousel .slides {
  position: absolute;
  bottom: 0;
}
#carousel .slides > li {
  position: relative;
  height: 70px;
  margin: 0 5px;
  background-position: 50% 50%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
#carousel .slides > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
#carousel .slides > li.flex-active-slide {
  position: relative;
  top: -5px;
}
#carousel .slides > li.flex-active-slide:before {
  background-color: transparent;
  border: 3px solid #e60012;
}
#carousel .flex-viewport {
  height: 100%;
}

.flexslider {
  border: 0;
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	page
\*========================================================================*/
/*========================================================================*\
		>>	index_page
\*========================================================================*/
.wall-wrap {
  margin-bottom: 2em;
}
.wall-wrap .col-3 {
  float: left;
  width: 360px;
}
.wall-col2 {
  margin: 0 1.75em;
}
.wall-col4 {
  width: 360px;
  margin-right: 1.75em;
}
.wall-col5 {
  width: 750px;
  height: 360px;
}
.wall-col5 .wall-block {
  width: 100%;
  height: 100%;
}
.wall-block {
  width: 360px;
  height: 360px;
}
.wall-block.wall-5 {
  width: 360px;
  height: 750px;
}
.wall-block.wall-5 figcaption {
  width: 90%;
  bottom: 3em;
}
.wall-block.wall-1, .wall-block.wall-3 {
  margin-bottom: 2em;
}
.wall-block figure {
  position: relative;
  width: 100%;
  height: 100%;
}
.wall-block figure .pic {
  width: 100%;
  height: 100%;
}
.wall-block figure img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wall-figure:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.wall-figure figcaption {
  position: absolute;
  z-index: 2;
  bottom: 1em;
  right: 0;
  width: 75%;
  height: auto;
  padding: 0.8em;
  background-color: rgba(0, 0, 0, 0.75);
}
.wall-figure figcaption:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  width: 15px;
  height: 100%;
}
.wall-figure figcaption:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  width: 15px;
  height: 30%;
}
.wall-figure figcaption h3 {
  margin-bottom: 0.2em;
  color: #fff;
  font-size: 2.25em;
  font-family: "PMingLiU", \65B0\7EC6\660E\4F53, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wall-figure figcaption p {
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.wall-figure .txt-sub {
  margin-bottom: 0.5em;
}

.wall-1 figure {
  background-color: #0084ff;
}
.wall-1 figcaption:before {
  background-color: #12377a;
}
.wall-1 figcaption:after {
  background-color: #0084ff;
}

.wall-2 figure {
  background-color: #ffe400;
}
.wall-2 figcaption:before {
  background-color: #d79800;
}
.wall-2 figcaption:after {
  background-color: #ffe400;
}

.wall-3 figure {
  background-color: #26d993;
}
.wall-3 figcaption:before {
  background-color: #006c51;
}
.wall-3 figcaption:after {
  background-color: #26d993;
}

.wall-4 figure {
  background-color: #ff9600;
}
.wall-4 figcaption:before {
  background-color: #562f00;
}
.wall-4 figcaption:after {
  background-color: #ff9600;
}

.wall-5 figure {
  background-color: #e60012;
}
.wall-5 figcaption:before {
  background-color: #7d020d;
}
.wall-5 figcaption:after {
  background-color: #e60012;
}

#wallSlider {
  margin-bottom: 0;
  overflow: hidden;
}
#wallSlider .flex-control-nav {
  right: 0.5em;
  bottom: 0.5em;
  z-index: 3;
  float: right;
  width: 70px;
  display: table;
}
#wallSlider .flex-control-paging li a {
  background-color: #3c3d41;
  border-radius: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#wallSlider .flex-control-paging li a.flex-active {
  background-color: #e60012;
}

#bannerSlider {
  margin-bottom: 0;
  overflow: hidden;
}
#bannerSlider .flex-control-nav {
  right: 0.5em;
  bottom: 0.5em;
  z-index: 3;
  float: right;
  width: 120px;
  display: table;
}
#bannerSlider .flex-control-paging li a {
  background-color: #3c3d41;
  border-radius: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#bannerSlider .flex-control-paging li a.flex-active {
  background-color: #e60012;
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	font
\*========================================================================*/
.txt-r {
  color: #f20101;
  font-size: 1.3em;
  font-weight: bolder;
}
.txt-r1 {
  color: #9c0000;
}
.txt-r2 {
  color: #ff0000;
}
.txt-r3 {
  color: #bd000f;
}
.txt-b {
  color: #efd9b8;
}
.txt-b-hover {
  color: #efd9b8;
}
.txt-b-hover:hover {
  text-decoration: underline;
}
.txt-b1 {
  color: #0067c0;
}
.txt-b2 {
  color: #44b8b7;
}
.txt-bk {
  color: #221815;
}
.txt-bk1 {
  color: #000;
}
.txt-new {
  color: #efd9b8;
  font-size: 1.1em;
  text-transform: uppercase;
  text-shadow: none;
}
.txt-ora {
  color: #ffac28;
}
.txt-ora1 {
  color: #e67800;
}
.txt-ora2 {
  color: #ed5800;
  font-size: 1.3em;
  font-weight: bold;
}
.txt-ora3 {
  color: #ef6600;
  text-decoration: underline;
}
.txt-ora4 {
  color: #f16e00;
  font-size: 1.3em;
}
.txt-Gr {
  color: #a4a4a4;
}
.txt-Gr1 {
  color: #595757;
}
.txt-pur {
  color: #a60c4e;
}
.txt-pur1 {
  color: #b50053;
}
.txt-m_inf {
  color: #a60c4e;
  font-weight: bold;
}
.txt-tableLink {
  color: #595757;
}
.txt-tableLink:hover {
  font-weight: bolder;
  color: #efd9b8;
}
.txt-q {
  color: #1cacab;
}

.tdlt {
  text-decoration: line-through;
}

a.txt-Gr1:hover {
  text-decoration: underline;
}
a.txt-ora1:hover {
  text-decoration: underline;
}
a.txt-q:hover {
  text-decoration: underline;
}

.fa-angle-left, .fa-angle-right {
  color: #fff;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.fa-file-text-o {
  color: #595757;
}
.fa-file-text-o:hover {
  color: #005ca1;
  text-shadow: -1px -1px 0px #d5d5d5;
}
.fa-file-text-o:hover:before {
  display: block;
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.blogMod-article_list-block .fa-heart {
  -moz-transform: scale(0.65, 0.65);
  -ms-transform: scale(0.65, 0.65);
  -webkit-transform: scale(0.65, 0.65);
  transform: scale(0.65, 0.65);
}

.tri {
  display: inline-block;
}

button.icon {
  margin: 0;
  border: none;
}

/*# sourceMappingURL=style.css.map */
