@charset "UTF-8";

.txt {
	&-r {
		color: #f20101;
	}
	&-r1 {
		color: #9c0000;
	}
	&-r2 {
		color: #ff0000;
	}
	&-r3 {
		color: #bd000f;
	}
	&-r4 {
		color: #9c000e;
	}
	&-b {
		color: $normal_color;
		&-hover {
			color: $normal_color;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&-b1 {
		color: #0067c0;
	}
	&-b2 {
		color: #44b8b7;
	}
	&-bk {
		color: #221815;
	}
	&-bk1 {
		color: #000;
	}
	&-new {
		color: $normal_color;
		font-size: 1.1em;
		text-transform: uppercase;
		text-shadow: none;
	}
	&-ora {
		color: #ffac28;
	}
	&-ora1 {
		color: #e67800;
	}
	&-ora2 {
		color: #ed5800;
		font-size: 1.3em;
		font-weight: bold;
	}
	&-ora3 {
		color: #ef6600;
		text-decoration: underline;
	}
	&-ora4 {
		color: #f16e00;
		font-size: 1.3em;
	}
	&-gr {
		color: #a4a4a4;
	}
	&-gr1 {
		color: color($colors, gr, 1);
	}
	&-gr2 {
		color: #898989;
	}
	&-pur {
		color: #a60c4e;
	}
	&-pur1 {
		color: #b50053;
	}
	&-m_inf {
		color: #a60c4e;
		font-weight: bold;
	}
	&-tableLink {
		color: $Grey_color1;
		&:hover {
			font-weight: bolder;
			color: $normal_color;
		}
	}
	&-q {
		color: #1cacab;
	}
	&-spec {
		font-size: em(21);
		font-weight: bold;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	&-fz13 {
		font-size: em(13);
	}
	&-ffv {
		font-family: Verdana, Geneva, sans-serif;
	}
}

a {
	&.txt {
		&-gr1 {
			&:hover {
				text-decoration: underline;
			}
		}
		&-ora1 {
			&:hover {
				text-decoration: underline;
			}
		}
		&-q {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.txtImg-title {
	&-signup {
		@include wh2(120 28);
		@include bg-t(-170, -67);
		margin: auto;
	}
	&-set1 {
		@include wh2(92 21);
		@include bg-t(-170, -96);
	}
	&-set2 {
		@include wh2(93 21);
		@include bg-t(-170, -118);
	}
	&-step3 {
		@include wh2(335 21);
		@include bg-t(-291, -67);
	}
	&-confirm {
		@include wh2(140 21);
		@include bg-t(-263, -96);
	}
	&-member {
		@include wh2(120 28);
		@include bg-t(-170, -140);
		margin: auto;
	}
	&-join {
		@include wh2(230 20);
		@include bg-t(-264, -118);
	}
	&-login {
		@include wh2(81 20);
		@include bg-t(-404, -96);
	}
	&-edit {
		@include wh2(181 28);
		@include bg-t(-291, -140);
		margin: 0 auto 2em;
	}
	&-dataEdit {
		@include wh2(93 21);
		@include bg-t(-170, -169);
	}
	&-pwEdit {
		@include wh2(92 21);
		@include bg-t(-264, -169);
	}
	&-forget {
		@include wh2(120 28);
		@include bg-t(-473, -140);
		margin: 0 auto 2em;
	}
	&-cart {
		@include wh2(90 28);
		@include bg-t(-594, -140);
		margin: auto;
	}
	&-member_inf {
		@include wh2(93 21);
		@include bg-t(-627, -67);
	}
	&-recipient_inf {
		@include wh2(116 21);
		@include bg-t(-721, -67);
	}
	&-invoice_inf {
		@include wh2(93 21);
		@include bg-t(-838, -67);
	}
	&-payment {
		@include wh2(92 21);
		@include bg-t(-357, -169);
		margin-right: 2.8em;
	}
	&-payment_inf {
		@include wh2(93 21);
		@include bg-t(-450, -169);
	}
}




.fa-angle-left, .fa-angle-right {
	color: #fff;
	@include scale(1.1);
}
.fa-file-text-o {
	color: $Grey_color1;
	&:hover {
		&:before{
			display: block;
			@include scale(1.3);
		}
		color: darken(#0079d4, 10%);
		text-shadow: -1px -1px 0px $bd_color4;
	}
}
.blogMod-article_list-block {
	.fa-heart {
		@include scale(0.65);
	}
}
.tri {
	display: inline-block;
}



button.icon {
	margin: 0;
	border: none;
}
i.icon {
	@include ib;
}
.icon {
	@each $sacca-foot, $w, $x in
		(tele, 18, -71),
		(time, 26, -90),
		(addr, 23, -117),
		(mail, 19, -141) {
		.sacca-#{$sacca-foot} & {
			@include wh($w, 21);
			@include bg-i($x, 0);
		}
	}
	&-asideHeader {
		.asideMod__age & {
			@include wh(25, 22);
			@include bg-i(-161, -1);
		}
		.asideMod__cate & {
			@include wh(29, 23);
			@include bg-i(-187, 0);
		}
	}
	&-xls {
		@include wh(27, 33);
		@include bg-i(-161, -29);
	}
	&-pdf {
		@include wh(26, 34);
		@include bg-i(-189, -29);
	}
	.file_download & {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
	}
	&-cart {
		@include wh2(28 19);
		@include bg-i(-218, 0);
	}
	&-tag {
		.r1, .p1 {
			fill: color($colors, gr, 1);
		}
	}
	&-book {
		@for $i from 1 through 7 {
			.p#{$i} {
				fill: #12377a;
			}
		}
	}
	&-join {
		&-1 {
			@include wh2(38 42);
			@include bg-i(-219, -106);
		}
		&-2 {
			@include wh2(38 37);
			@include bg-i(-219, -149);
		}
		&-3 {
			@include wh2(38 40);
			@include bg-i(-219, -187);
		}
	}
	&-triL {
		display: inline-block;
		@include triangle(left, #646464, 6px);
		margin-right: 5px;
	}
	&-payment1 {
		@include wh2(31 41);
		@include bg-i(-260, -106);
		margin: 0 0.5em 0 0.3em;
	}
	&-payment2 {
		@include wh2(35 31);
		@include bg-i(-258, -148);
		margin: 0 0.5em 0 0.3em;
	}

}//.icon

.svg_icon_writing {
	@include wh2(69 66);
	fill: #fff;
	.biz_page & {
		fill: #fff;
		@include absolute($t:0, $r:0, $b:0, $l:0);
		margin: auto;
	}
}
.svg_icon_cart {
	@include wh2(72 65);
	fill: #fff;
}
.svg_icon_tag {
	fill: color($colors, gr, 1);
	@include wh2(24);
}
.svg_icon_mail {
	@include wh2(19 13);
	fill: color($colors, nor, 8);
}
.svg_icon_phone {
	@include wh2(18 21);
	fill: color($colors, nor, 8);
}
.svg_icon_building {
	@include wh2(23 20);
	fill: color($colors, nor, 8);
}
.svg_icon_hrtime {
	@include wh2(26 20);
	fill: color($colors, nor, 8);
}
.svg_icon_tax {
	@include wh2(24 16);
	fill: color($colors, nor, 8);
}
.svg_icon_cart {
	.biz_page & {
		fill: #fff;
		@include absolute($t:0, $r:0, $b:0, $l:0);
		margin: auto;
	}
}
.svg_icon_people {}
.svg_icon_tag {
	.history-tag & {
		@include wh2(16 15);
		fill: color($colors, nor, 8);
	}
	.filter-label & {
		fill: color($colors, gr, 1);
	}
	.filter_history & {
		@include wh2(16);
	}
}
.svg_icon_people {
	@include wh2(15 16);
	fill: color($colors, nor, 8);
	.resource_page & {
		vertical-align: -0.4ex;
	}
}
#shape-cart {
	.biz_page & {
		.bg1, .bg2, .bg3 {
			fill: #9fa0a0;
		}
	}
}

.svg_icon_magnifier {
	.activity_page & {
		@include wh2(47);
		fill: #c9caca;
	}
}
.svg_icon_download {
	.resource_page & {
		@include wh2(18 21);
		vertical-align: -0.9ex;
		fill: #595757;
	}
}