footer {
	&.global_ft {
		@include wh(100%, 240);
		@include bg('bg-foot.jpg', 0, 0, repeat);
		.logo {
			@include wh(80);
			margin: 3em 1.5em;
		}
	}
	&.copyright {
		position: relative;
		@include background-image(linear-gradient(#626060, #727171 30%, #727171 40%, #474646));
		color: #fff;
		font-size: em(11);
		line-height: 34px;
		letter-spacing: 1px;
		&:before {
			@include psudoClass;
			@include wh(100%, 2px);
			@include bg(#e60012);
		}
		img {
			transform: translateY(-2px);
		}
		a {
			&:hover {
				@include hover();
			}
		}
	}
}


.sitemap {
	height: 100%;
	&-wrap {
		position: relative;
		height: 100%;
		padding-right: 0.5em;
		&:before {
			@include psudoClass;
			@include vc;
			right: 0;
			width: 1px;
			height: 70%;
			@include bg(#7d7e7f);
		}
		&:after {
			@include psudoClass;
			@include vc;
			right: -1px;
			width: 1px;
			height: 70%;
			@include bg(#fff);
		}
	}
	&-col {
		position: relative;
		height: 100%;
		padding: 3em 1.8em 0;
		margin: 0 0.1em;
		@each $nth, $color in 
			(1, #0080aa),
			(2, #ffe400),
			(3, #127a62),
			(4, #ff7b00) {
			&:nth-of-type(#{$nth}) {
				.pattern {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 5px;
					@include bg($color);
					@include opacity(0);
				}
			}
		}
		&:hover {
			box-shadow: inset 5px 0 10px 0px rgba(#aaaaaa, 0.7), inset -5px 0 10px 0px rgba(#aaaaaa, 0.7);
			.pattern {
				@include opacity(1);
			}
		}
	}
	&-row {
		margin-bottom: 1em;
		li {
			float: none;
			&.title {
				a {
					color: #000;
				}
			}
		}
		a {
			color: $Grey_color1;
			@include adjFontSize(13px, 1);
			letter-spacing: 1px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}


.footer-inf {
	padding-top: 3em;
	padding-left: 1em;
	li {
		position: relative;
		float: none;
		margin-bottom: 1em;
		color: $Grey_color1;
		font-size: em(13);
		font-family: Verdana, Geneva, sans-serif;
		line-height: 21px;
		letter-spacing: 1px;
		text-indent: 30px;
	}
	.icon {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.icon {
	@each $sacca-foot, $left in
		(tele, 3px),
		(time, 0),
		(addr, 1px),
		(mail, 3px) {
		.sacca-#{$sacca-foot} & {
			left: $left;
		}
	}
}