#top {
	@include wh(100%, 5px);
	@include bg($normal_color1);
}

.header_group {
	// position: relative;
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
}
/*========================================================================*\
		>>	global_hd  quick_bar  logo
\*========================================================================*/
header {
	&.global_hd {
		position: relative;
		@include wh(100%, 85px);
		@include background-image(linear-gradient(#fafafa, #d2d2d2));
		nav {
			margin-left: 27%;
			margin-right: 1%;
		}
	}// header.global_hd  END
	&#logo {
		position: absolute;
		top: 0;
		// right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		@include wh(main_logo, png);
		@include bg('main_logo.png');
		@include background-size(cover);
		a {
			display: block;
			@include wh;
		}
	}// header#logo  END
	&.nav_bar {
		position: absolute;
		top: 90px;
		width: 100%;
		@include bg(rgba(#000, 0.6));
		ul {
			display: table;
			margin: auto;
		}
		li {
			&::before {
				content: '|';
				@extend %nav_bar_txt;
			}
			&:first-of-type {
				&::before {
					display: none;
				}
			}
			&.active {
				.main_nav-item-cnt {
					color: #b5b5b6;
					// text-shadow: 1px 1px 1px rgba(#fff, 0.6);
				}
			}
		}
		.main_nav-item-cnt {
			padding: 0 1.5em;
			@extend %nav_bar_txt;
			letter-spacing: 1px;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #b5b5b6;
			}
		}
	}
}
%nav_bar_txt {
	color: #fff;
	font-weight: bold;
	@include adjFontSize(15px, 1.5);
}



/*========================================================================*\
		>>	nav
\*========================================================================*/
nav {
	&.global_menu {
		height: 100%;
		ul, li, a {
			height: 100%;
		}
		li {
			position: relative;
			margin: 0 1em;
			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				top: -5px;
				left: -100%;
				width: 100%;
				height: 5px;
				@include bg($normal_color1);
				@include transition(all 0.3s ease(out-cubic));
			}
			&:hover, &.active {
				box-shadow: inset 5px 0 10px 0px rgba(#cececf, 0.6), inset -5px 0 10px 0px rgba(#cececf, 0.6);
				&:before {
					content: '';
					left: 0;
					z-index: 2;
					@include bg(#9c000e);
				}
				a {
					color: #999;
				}
			}
		}
		a {
			display: block;
			padding: 0 1.5em;
			color: $Grey_color1;
			line-height: 85px;
		}
	}
}
// .main_nav {
// 	height: 100%;
// 	// position: relative;
// 	ul {
// 		height: 100%;
// 	}
// 	&-item {
// 		@include VerticalAlign;

// 		a, span {
// 			display: block;
// 			text-align: center;
// 		}
// 		@each $navItem, $x, $y in (item1, 0, -51px),
// 									   (item2, -79px, -51px),
// 									   (item3, -155px, -51px),
// 									   (item4, -243px, -51px),
// 									   (item5, -358px, -51px),
// 									   (item6, -485px, -51px) {
// 			&.#{$navItem}:hover .main_nav-icon {
// 				// @include bg('navIcon.png', $x, $y);
// 			}
// 		}
// 	}// .main_nav-item  END
// 	&-icon {
// 		height: 31px;
// 		margin-bottom: 0.5em;
// 		// @include transition(all 0.3s $easeInOutCubic);
// 		@each $navItem, $w, $x, $y in (item1, 34px, 0, 0),
// 									  (item2, 37px, -79px, 0),
// 									  (item3, 43px, -155px, 0),
// 									  (item4, 69px, -243px, 0),
// 									  (item5, 78px, -358px, 0),
// 									  (item6, 53px, -485px, 0) {
// 			.#{$navItem} & {
// 				width: #{$w};
// 				// @include bg('navIcon.png', $x, $y);
// 			}
// 		}
// 	}// .main_nav-icon  END
// }


/*========================================================================*\
		>>	quick_bar
\*========================================================================*/
$triW: 14px;
$triW2: 16px;
.quick_bar {
	.search_form {
		position: relative;
		&-inp {
			width: 245px;
			height: 30px;
			border: 1px solid #909090;
			border-radius: 8px;
			overflow: hidden;
			input {
				@include wh;
				padding: 0 0.5em;
				border: none;
				@include adjFontSize(13px, 1.2);
			}
		}
		&-btn {
			display: block;
			position: absolute;
			top: 0.4em;
			right: 0.5em;
			.btn {
				@include wh(20);
				@include bg-i(0, 0);
				border-radius: 0;
				&:hover {
					box-shadow: none;
					@include bg(transparent);
				}
			}
			&:active {
				@include hover();
			}
		}
	}
	&-block {
		// position: relative;

	}
}

/* >>> popup **************************************************/
.popup {
	display: none;
	&.open {
		display: block;
	}
	&.toggle {
		@include transition(all 0.3s ease(in-out-cubic));
	}
	.tri {
		position: absolute;
		top: 0.2em;
		// right: 42px + ($triW * 1.5) - 2px;
		@include triangle(top, #cbcbcb, $triW2);
		z-index: 80;
		&-after {
			position: absolute;
			top: 0.3em;
			// right: 42px + ($triW * 1.5);
			@include triangle(top, #fff, $triW);
			z-index: 81;
		}
	}
	.padding {
		display: block;
		position: absolute;
		top: -10%;
		left: -20%;
		z-index: 78;
		@include wh(140%, 120%);
		background: none;
	}
	&-wrap {
		&.open {
			@include fixed(61px, 0, $l:0);
			z-index: 1000;
			height: 0;
		}
	}
}

/* >>> quick_login **************************************************/
%quickBarBtn {
	position: relative;
	@include circle(30px);
	@include bg(#3c3d41);
	overflow: hidden;
	margin-left: 12px;
	cursor: pointer;
	&:hover {
		box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
	}
	&:active {
		@include hover;
	}
}
%quickBarWrap {
	position: absolute;
	right: 0;
	@include opacity(0);
	z-index: -1;
	&.open {
		z-index: 80;
		@include opacity(1);
	}
}
%quickBarBlock {
	position: relative;
	z-index: 80;
	margin-top: 1.1em;
	padding-top: 1em;
	@include bg(#fff);
	border: 1px solid #cbcbcb;
}
%quickBarBlockBtn {
	display: block;
	@include wh(108, 30);
	border-radius: 5px;
}
.quick_login {
	@extend %quickBarBtn;
	&:before {
		@include psudoClass;
		position: absolute;
		top: 5px;
		left: 5px;
		@include wh(20, 25);
		@include bg-i(-21, 0);
	}
	&-wrap {
		@extend %quickBarWrap;
		.tri {
			right: 42px + ($triW * 1.5) - 2px;
			&-after {
				right: 42px + ($triW * 1.5);
			}
		}
	}
	&-block {
		@include wh(340, 155);
		@extend %quickBarBlock;
		&.login-success {
			// width: 280px;
			height: auto;
		}
	}
}
.u_login {
	&-form {
		width: 270px;
		margin: auto;
		// padding-top: 1em;
	}
	&-inp {
		display: block;
		width: 100%;
		height: 30px;
		margin-bottom: 0.8em;
		border: 1px solid #909090;
		overflow: hidden;
		input {
			@include wh;
			padding: 0 0.5em;
			border: none;
			@include adjFontSize(13px, 1.2);
		}
	}
	&-btn {
		@extend %quickBarBlockBtn;
		.btn {
			@include wh;
			@include bg-i(0, -29);
		}
	}
	.u_register {
		color: $Grey_color1;
		@include adjFontSize(15px);
		line-height: 30px;
		text-decoration: underline;
	}
}

.quick_cart {
	@extend %quickBarBtn;
	&:before {
		@include psudoClass;
		position: absolute;
		top: 5px;
		left: -1px;
		@include wh(28, 19);
		@include bg-i(-42, 0);
	}
	&-wrap {
		@extend %quickBarWrap;
		.tri {
			right: -4px + ($triW * 1.5) - 2px;
			&-after {
				right: -4px + ($triW * 1.5);
			}
		}
	}
	&-block {
		@include wh(340, 470);
		@extend %quickBarBlock;
	}
}
$u_cartItemH: 145px;
.u_cart {
	&-inf {
		color: #000;
		@include adjFontSize(13px);
		font-weight: bold;
		text-align: center;
	}
	&-form {
		width: 100%;
		border-top: 1px solid #cbcbcb;
		margin-top: 1.3em;
		// margin-bottom: 1em;
		padding: 0 1.2em;
	}
	&-list {
		width: 100%;
		height: $u_cartItemH*2+1;
		overflow-y: scroll;
	}
	&-item {
		position: relative;
		width: 100%;
		height: $u_cartItemH;
		padding: 0.8em 0;
		border-top: 1px solid #cbcbcb;
		&:first-of-type {
			border-top: none;
		}
		figcaption {
			width: 65%;
			padding-left: 0.5em;
			color: #000;
			@include adjFontSize(13px);
		}
	}
	&-pic {
		@include wh(85, 120);
	}
	&-deleBtn {
		position: absolute;
		display: block;
		right: 0.5em;
		bottom: 0.8em;
		width: 40px;
		.btn {
			width: 100%;
			border: 1px solid #cbcbcb;
			@include background-image(linear-gradient(#f6f6f6, #dddddd));
			border-radius: 2px;
			@include adjFontSize(13px);
			font-weight: normal;
			@include transition(all 0.3s $easeInOutCubic);
			&:hover {
				@include background-image(linear-gradient(darken(#f6f6f6, 10%), darken(#dddddd, 10%)));
			}
			&:active {
				@include hover;
			}
		}
	}
	&-total {
		width: 100%;
		margin-top: 1.5em;
		padding-top: 1em;
		border-top: 1px solid #cbcbcb;
		p {
			width: 100%;
			margin-bottom: 0.5em;
			color: $Grey_color1;
			@include adjFontSize(13px);
			font-weight: bold;
			text-align: right;
		}
	}
	&-btn {
		@extend %quickBarBlockBtn;
		margin: auto;
		padding: 0;
		.btn {
			@include wh;
			@include bg-i(0, -61);
		}
	}
	.book {
		&-name {
			min-height: 33px;
			margin-bottom: 0.8em;
			// color: #000;
			// @include adjFontSize(13px);
			line-height: 1.3;
			font-weight: bold;
		}
	}
}

// .social {
// 	height: 100%;
// 	padding: 4px 0;
// 	li{
// 		height: 100%;
// 		@include transition(all 0.3s $easeInOutCubic);
// 		&:hover {
// 			@include bg(darken(#dcdddd, 5%));
// 		}
// 	}
// 	&-icon {
// 		$padding: 15px;
// 		@include wh(27px + ( $padding * 2 ), 35px);
// 		@include bg-iconTxt;
// 		padding: 0 $padding;
// 		border-left: 1px solid #fcfcfc;
// 		border-right: 1px solid #aaa;
// 		display: block;
// 		@each $icon, $x, $y in (icon1, -473px + $padding, -110px),
// 							   (icon2, -473px + $padding, -55px),
// 							   (icon3, -473px + $padding, 0px) {
// 			&.#{$icon} {
// 				@include bg($x, $y);
// 			}
// 		}
// 	}
// 	.line_r {
// 		border-right: 1px solid #aaa;
// 	}
// 	.line_l {
// 		border-left: 1px solid #fcfcfc;
// 	}
// }
// .fb-like.fb-like {
// 	margin: 0 1em;
// 	@include VerticalAlign;
// 	position: absolute;
// 	left: 18%;
// }

// .search_block {
// 	width: 59%;
// 	margin-left: 20%;
// }
// .search_form {
// 		width: 100%;
// 	&-inp {
// 		width: 80%;
// 		input {
// 			border-radius: 5px;
// 			border: none !important;
// 		}
// 	}
// 	&-btn {
// 		width: 19%;
// 		input {
// 			@include wh(100%, 30px);
// 			@include bg-iconTxt(-385px, -250px + 6px);
// 			border: none;
// 		}
// 		&:hover {
// 			@include hover;
// 		}
// 	}
// }


.login-success {
	p {
		border-bottom: 1px dotted #333;
		padding-bottom: 0.4em;
		margin-bottom: 0.4em;
	}
	ul {
		margin-top: 5px;
	}
	li {
		width: 100%;
		border-top: 1px solid #C6C6C6;
		margin: 3px 0;
		text-align: center;
	}
	.btns {
		margin: 0.8em auto;
		text-align: center;
	}
	.u_register {

	}
}