@charset "UTF-8";

/*========================================================================*\
		>>	banner
\*========================================================================*/

$page:(
about_page:about,
books_page:books,
biz_page:biz,
history_page:history,
news_page:news,
activity_page:news,
resource_page:resource,
member_page:books,
cart_page:books
       );

.banner-wall {
	// position: absolute;
	// top: 90px;
	// z-index: 1;
	@include wh2(100% 0);
	@each $pages, $file in $page {
		.#{$pages} & {
			@include bgRWD('banner-#{$file}.jpg', 1920, 255);
		}
	}
}


/*========================================================================*\
		>>	layout main
\*========================================================================*/
article#main, main {
	@include rhythm(0.8);
}
main {
	.cnt_page & {}
	section.row {
		padding: 4em 0;
	}
}

/*========================================================================*\
		>>	bg
\*========================================================================*/
.about_page {
	@include bg('bg.png', 0, 0, repeat);
}






.wall {
	&-bar {
		@include wh(100%, 490);
		@include bg('index_bg2.jpg', 50%, 50%);
		// @include bgRWD('index_bg2.jpg', 1920, 490);
		text-align: center;
		.slogan {
			padding-top: 2.5em;
		}
		h2 {
			color: #313131;
			@include adjFontSize(23px, 1.5);
			font-family: $normal_font2;
			letter-spacing: 1px;
		}
		.footLogo {
			@include wh(46);
			margin: 0 auto 0.8em;
		}
		#SACCA-Logo {
			* {
				fill: #fff;
			}
		}
		p {
			color: #313131;
			@include adjFontSize(15px, 1.2);
			letter-spacing: 1px;
		}
		&.slogan2 {
			@include vc;
			height: 255px;
			@include bg(rgba(#e6e6e6, 0.75));
			background-image: none;
			padding-top: 3em;
			#SACCA-Logo {
				margin-top: 1.5em;
				* {
					fill: $normal_color1;
				}
			}
		}
	}
}

.slogan2-wrap {
	position: relative;
	@include wh;
	padding-bottom: (1289 / 1920) * 100%;
}

.fixBg {
	// position: relative;
	.index_page & {
		@include bgRWD('bigBg.jpg', 1920, 1289);
		@include bg(50%, 90%);
		background-attachment: fixed;
	}
	.history_page & {
		@include bgRWD('bigBg2.jpg', 1920, 1009);
		@include bg(50%, 50%);
		background-attachment: fixed;
	}
	.map {
		@include bgRWD('map.jpg', 1920, 686);
		@include bg(50%, 50%);
		// background-attachment: fixed;
	}
	.biz_page & {
		position: relative;
		&:before {
			@include psudoClass;
			@include absolute(0, $l:0);
			@include bgRWD('map.jpg', 1920, 686);
			@include opacity(0.3);
		}
		@include bgRWD('map.jpg', 1920, 686);
		@include bg(50%, 50%);
	}
}




/*========================================================================*\
		>>	page_path
\*========================================================================*/
.page_path {
	position: relative;
	@include margin-trailer();
	.txt {
		@include adjFontSize(13px, 2);
	}
	&:after {
		@include psudoClass;
		@include wh(100%, 10px);
		@include bg('line1.png', 50%, 0, repeat);
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}



/*========================================================================*\
		>>	layout aside & article
\*========================================================================*/
aside.col-f {
	float: left;
	width: (220 / 1140) * 100%;
	&+article {
		float: left;
		width: (920 / 1140) * 100%;
		padding: 0 2.5em;
	}
}
