@charset "UTF-8";

/*========================================================================*\
		>>	layout main
\*========================================================================*/
article#main, main {
	@include rhythm(0.8);
}


.wall {
	&-bar {
		@include wh(100%, 490);
		@include bg('index_bg2.jpg', 50%, 50%);
		// @include bgRWD('index_bg2.jpg', 1920, 490);
		text-align: center;
		.slogan {
			padding-top: 2.5em;
		}
		h2 {
			color: #313131;
			@include adjFontSize(23px, 1.5);
			font-family: $normal_font2;
			letter-spacing: 1px;
		}
		.footLogo {
			@include wh(46);
			margin: 0 auto 0.8em;
		}
		#SACCA-Logo {
			* {
				fill: #fff;
			}
		}
		p {
			color: #313131;
			@include adjFontSize(15px, 1.2);
			letter-spacing: 1px;
		}
	}
}

.fixBg {
	.index_page & {
		@include bgRWD('bigBg.jpg', 1920, 1289);
		background-attachment: fixed;
	}
}



