@charset "UTF-8";

/*========================================================================*\
		>>	layout main
\*========================================================================*/
article#main, main {
	@include rhythm(0.8);
}
main {
	.cnt_page & {}
}



/*========================================================================*\
		>>	bg
\*========================================================================*/
.about_page {
	@include bg('bg.png', 0, 0, repeat);
}




/*========================================================================*\
		>>	banner
\*========================================================================*/
.banner-wall {
	// position: absolute;
	// top: 90px;
	// z-index: 1;
	@each $page, $banner in
		(about_page, about),
		(about_page, about) {
		.#{$page} & {
			@include bgRWD('banner-#{$banner}.jpg', 1920, 255);
		}
	}
}

.wall {
	&-bar {
		@include wh(100%, 490);
		@include bg('index_bg2.jpg', 50%, 50%);
		// @include bgRWD('index_bg2.jpg', 1920, 490);
		text-align: center;
		.slogan {
			padding-top: 2.5em;
		}
		h2 {
			color: #313131;
			@include adjFontSize(23px, 1.5);
			font-family: $normal_font2;
			letter-spacing: 1px;
		}
		.footLogo {
			@include wh(46);
			margin: 0 auto 0.8em;
		}
		#SACCA-Logo {
			* {
				fill: #fff;
			}
		}
		p {
			color: #313131;
			@include adjFontSize(15px, 1.2);
			letter-spacing: 1px;
		}
		&.slogan2 {
			@include vc;
			height: 255px;
			@include bg(rgba(#e6e6e6, 0.75));
			background-image: none;
			padding-top: 3em;
			#SACCA-Logo {
				margin-top: 1.5em;
				* {
					fill: $normal_color1;
				}
			}
		}
	}
}

.slogan2-wrap {
	position: relative;
	@include wh;
	padding-bottom: (1289 / 1920) * 100%;
}

.fixBg {
	// position: relative;
	.index_page & {
		width: 100%;
		// height: 800px;
		@include bgRWD('bigBg.jpg', 1920, 1289);
		@include bg(50%, 90%);
		background-attachment: fixed;
	}
}



