@charset "UTF-8";

.books_page {
	#bannerSlider {
		.flex-control-nav {
			width: 200px;
		}

		.flex-control-paging a {
			@include rotate(0deg);
			@include circle(20px);
			color: color($colors, gr, 1);
			font-weight: bold;
			font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
			text-indent: 0;
			line-height: 20px;
			&.flex-active, &:hover {
				color: #fff;
			}
		}
	}
}

.book_cnt_page {
	section.row {
		@include rhythm-padding(1.5, 1.5);
		background-color: white;
	}
	.add_to_cart {
		margin-top: 1.2em;
	}
}


